<h2>{{product.name}}</h2>
<p>{{product.description}}</p>
<h4>${{product.price}}</h4>

<h3>Comments:</h3>

{{!-- <ul>
    {{#each comments}}
        <li>
            <p><b>"{{this.comment}}" - </b>{{this.author}}</p>
        </li>
    {{/each}}
</ul> --}}

<form action="/comment" method="POST">
    <fieldset>
            <textarea class="comment" type="text" name="comment" placeholder="Seu comentário"></textarea>
            <br>
            <br>
            <input class="name" type="text" name="author" placeholder="Seu nome">
        </legend>
        <input type="submit" value="Enviar">
    </fieldset>
</form>